<h1>Listing bids</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <td><%= bid.amount %></td>
        <td><%= link_to 'Edit', edit_category_item_bid_path(@category, @item, bid) %></td>
        <td><%= link_to 'Destroy', category_item_bid_path(@category, @item, bid), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
