<h1>Listing bids</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <td><%= link_to 'Edit', edit_item_bid_path(@item, bid) %></td>
        <td><%= link_to 'Destroy', item_bid_path(@item, bid), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
